$teal-blue: #367599;
$light-blue: #7ab9dd;

body {
  min-width: 50rem !important;
  overflow: auto;
}
.hangman {
  margin: auto;
  padding: 0 20px 0 20px;
  width: 80%;
  min-width: 50rem;
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  //justify-content: flex-start;

  &__alpha {
    color: $teal-blue;
    text-transform: lowercase;

    &__used {
      text-decoration: dotted;
      color: $light-blue;
    }

    &__invalid {
      color: red;
      text-transform: lowercase;
    }

    &__valid {
      color: green;
      text-transform: lowercase;
      background-color: white;

      &:first-child {
        text-transform: capitalize;
      }
    }
  }
  &__numeric {
    // consider reddening as we approach limit.
    color: $teal-blue;
  }

  .noose-box  {
    background-color: lightyellow;
    margin: auto;
    width: 20rem;
    min-width: 20rem;
    height:25rem;
    min-height:25rem;
  }
}